.github/
.husky/
.vscode/
.next/
out/
public/

*.md

.gitignore
.prettierignore
.eslintignore
pnpm-lock.yaml
yarn.lock
.env*
Dockerfile*

src/components/icon/template.js
src/components/icon/template.story.js
src/components/icons/
src/**/*.svg

*.woff
*.woff2
*.gitkeep

storybook-static
