@layer components {
  .btn {
    @apply inline-flex items-center justify-center h-9 body-3  px-4 border border-solid rounded-sm cursor-pointer w-auto  box-border hover:brightness-90 transition duration-[.15s] ease-out;
  }
  .btn-primary {
    @apply border-day bg-day text-night;
  }
  .btn-primary-invert{
    @apply border-day bg-night text-day;
  }
  .btn-secondary {
    @apply border-dream bg-dream text-white;
  }
  .btn-danger {
    @apply border-danger bg-night text-danger;
  }
}
