@layer components {
  .btn {
    @apply whitespace-nowrap inline-flex items-center justify-center h-9 body-3  px-4 border border-solid rounded-sm cursor-pointer w-auto  box-border hover:brightness-90 transition duration-[.15s] ease-out leading-9;
  }
  .btn-primary {
    @apply border-day bg-day text-night;
  }
  .btn-primary-invert{
    @apply border-day bg-night text-day;
  }
  .btn-secondary {
    @apply border-[#2F3153] bg-[#2F3153] text-white;
  }
  .btn-secondary-invert{
    @apply border-[#2F3153] bg-transparent text-white;
  }
  .btn-danger {
    @apply border-danger bg-danger text-white;
  }
}
