/* Build-time imports by postcss-import */
@import 'tailwindcss/base';
@import 'reset.css/reset.css';
@import './theme.css';
@import 'tailwindcss/components';

@layer components {
  .bg-placeholder {
    @apply bg-gray-600 opacity-50;
  }
  .header-width {
    @apply w-full lg:w-[1280px];
  }
  .content-width {
    @apply sm:w-[calc(100vw - 48px)] lg:w-[1024px] mx-auto;
  }
}

.bw-layout {
  @apply flex flex-col min-h-screen;
}

.bw-content {
  @apply flex-1;
}

#wallet {
  background: black;
  color: white;
  width: 280px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  height: 48px;
}

#otherLogin {
  margin: 24px 0;
  border: solid 1px #e4e4e4;
  border-radius: 7px;
  text-align: center;
  color: #000;
}

#otherLogin button {
  border-bottom: solid 1px #e4e4e4;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 48px;
  width: 100%;
  padding-left: 10px;
}
