@import './globals.css';

/* please put shared component css here */
@import './typ.css';
@import '../components/input/input.css';

/* utilities.css should be after component layer css */
/* see why here: https://tailwindcss.com/docs/adding-custom-styles */
@import './utilities.css';
