[data-theme='light'] {
  --bw-fr-color: #000;
  --bw-bg-color: #fff;
  --bw-linear-welcome: linear-gradient(91.47deg, #fc9e1c 0%, #f62584 100%);
}

[data-theme='dark'] {
  --bw-fr-color: #fff;
  --bw-bg-color: #000;
  --bw-linear-welcome: linear-gradient(91.47deg, #fc9e1c 0%, #f62584 100%);
}
