@layer components {
  /* .typ-h1 {
    @apply text-h1 font-h1 leading-h1;
  }
  .typ-h2 {
    @apply text-h2 font-h2 leading-h2;
  }

  .typ-h3 {
    @apply text-h3 font-h3 leading-h3;
  }

  .typ-h4 {
    @apply text-h4 font-h4 leading-h4;
  } */

  .typ-h5 {
    @apply text-h5 font-h5 leading-h5;
  }

  .typ-body {
    @apply text-body font-body leading-body;
  }

  .typ-body-small {
    @apply text-body_small font-body_small leading-body_small;
  }

  .typ-label {
    @apply text-label font-body_small leading-body_small;
  }

  .typ-number {
    @apply text-body font-body_small leading-body font-mono;
  }
}
