.site-layout-content {
  min-height: 600px;
  padding: 24px;
}

#footer {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;

}