name: ci

on:
  pull_request:
    branches: [ "develop" ]

  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Fetch origin/develop
        run: git fetch origin develop --depth=1

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      # - name: add auth to npmrc
      #   run: npm set //npm.pkg.github.com/:_authToken ${{secrets.TOKEN_PACKAGE_WRITER}}

      - name: Install dependencies
        run: yarn install

      - name: Lint app
        run: yarn lint

      - name: Build app
        run: yarn build
